# text files
*.txt
!changelog.txt
!meson_options.txt

# scripts
*.bat
*.sh
!demo.sh
*.ps1

# built files
build
subprojects
!subprojects/gtest.wrap

# doxygen
*.js
*.css
*.png
*.html
!docs/doxygen/*.html

docs/doxygen-awesome-css
docs/html
docs/latex

# coverage report
coverage-report
*.png
*.css
*.html

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
